<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="top-container">
    <h1>Login to use YT2MP3</h1>
    <a href="/auth/google">
      <button id="convert-btn">Sign in with Google</button>
    </a>
  </div>
</body>
</html>
